<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="/assets/logo.png" style="height: 50px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <div *ngFor="let link of links">
                <!--Caso seja link sem links aninhados-->
                <li *ngIf="link.constructor.name === 'LinkDireto'" class="nav-item">
                    <a class="nav-link" href={{link.path}}>{{link.nome}}
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <!--Caso seja link com links aninhados-->
                <li *ngIf="link.constructor.name === 'LinkLinks'" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        {{link.nome}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a *ngFor="let drop of link.links" class="dropdown-item" href={{drop.path}}>{{drop.nome}}</a>
                    </div>
                </li>
            </div>
        </ul>
    </div>
</nav>