<div class="card-group">
    <div class="card text-white bg-dark mb-3" style="width: 18rem;">
        <div class="card-header bold">
            <b>Pessoas</b>
        </div>
        <div class="card-body">
            <p class="card-text">Adicione, remova ou arrume pessoas que você tem como cliente</p>
            <a href="/cpfs" class="btn btn-primary">Ir para Pessoas</a>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3" style="width: 18rem;">
        <div class="card-header">
            <b>Empresas</b>
        </div>
        <div class="card-body">
            <p class="card-text">Adicione, remova ou arrume empresas que você tem como cliente</p>
            <a href="/cnpjs" class="btn btn-primary">Ir para Empresas</a>
        </div>
    </div>
</div>